{% set sidebar_active = 'food' %}
{% extends 'Layout/base-modules.html.twig' %}

{% block customstylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Food/Stock/products.css') }}">
{% endblock %}

{% block title %}
    Ludine - Products
{% endblock %}

{% block main %}
    {% include 'Widget/module-header.html.twig' with {
        header: {
            h1: 'Nourriture',
            h2: {
                'Repas': {
                    selected: false,
                    url: '#'
                },
                'Stock': {
                    selected: true,
                    url: path('food_stock_containers')
                }
            },
            h3: {
                'Conteneurs': {
                    selected: false,
                    url: path('food_stock_containers')
                },
                'Produits': {
                    selected: true,
                    url: path('food_stock_products')
                },
                'Produits stockés': {
                    selected: false,
                    url: path('food_stock_stocked_products')
                }
            }
        }
    } %}

    <div id="content" class="list">
        <div id="content-header">
            <div class="group">
                {% include 'Widget/button.html.twig' with {
                    'btn': {
                        'name': 'Nouveau',
                        'url': path('food_stock_products_create'),
                        'type': 'primary'
                    }
                } %}

                <a href=""><img src="{{ asset('img/svg/save.svg') }}"></a>
            </div>
        </div>

        <div id="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ product.description }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>Aucune donnée</td>
                            <td>Aucune donnée</td>
                        </tr>
                        <tr>
                            <td>Aucune donnée</td>
                            <td>Aucune donnée</td>
                        </tr>
                        <tr>
                            <td>Aucune donnée</td>
                            <td>Aucune donnée</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}