:root {
    --bg-dark: #1c1c1e;
    --bg-sidebar: #1a1a1c;
    --text-light: #fff;
    --text-muted: #aaa;
    --accent: #8b5cf6;
}

aside {
    width: 220px;
    height: calc(100vh - 60px);
    /*height: 100vh;*/
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #2C2D33;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 1000;
    background-color: var(--bg-color);
    min-height: 0;
    overflow: auto;
    flex: 0 1 auto;
}
aside.opened {
    transform: translateX(0);
}

@media (min-width: 1200px) {
    aside {
        position: relative;
        transform: initial;
        height: 100%;
    }
}

nav#sidebar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #2C2D33;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 2000;
    background-color: var(--bg-color);
}

nav#sidebar #hamburger {
    cursor: pointer;
}

@media (min-width: 1200px) {
    nav#sidebar {
        display: none;
    }
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo img {
    width: 4rem;
}

.logo span {
    color: white;
}

aside nav {
    /*height: 100%;*/
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

aside nav a {
    color: var(--text-light);
    text-decoration: none;
    padding: 0.6rem 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    border-radius: 8px;
    margin-bottom: 0.4rem;
}

aside nav a.disabled {
    color: #757575;
    text-decoration: line-through;
    cursor: default;
}

aside nav a:hover:not(.disabled) {
    background-color: #2b2b30;
}

aside nav a.active:not(.disabled) {
    background-color: #313138;
}

.logout {
    color: var(--text-light);
    text-decoration: none;
    padding: 0.6rem 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    border-radius: 8px;
    position: sticky;
    bottom: 0;
    background-color: var(--bg-color);
    margin-bottom: 0;
}
.spacer {
    height: 100%;
}
