{% extends 'Layout/base.html.twig' %}

{% block title %}
    Reset Password
{% endblock %}

{% block body %}
    <h1>Reset password</h1>
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button>Reset password</button>
    {{ form_end(form) }}
{% endblock %}