{% extends 'Layout/base.html.twig' %}

{% block title %}
    Reset Password
{% endblock %}

{% block body %}
    {% if invalidCredentials %}
        <span>Invalid credentials</span>
    {% elseif mailSent %}
        <span>Mail sent</span>
    {% endif %}

    <h1>Reset Password</h1>
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button>Envoyer mail</button>
    {{ form_end(form) }}
{% endblock %}

